body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
   
    justify-content: center;
    align-items: center;
}

.container {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-frame {
    border: solid 2px black;
    width: 800px;
    height: 500px;
    display: flex;
    overflow: hidden;
}

.left-arrow {
    content: url("./leftarrow.svg");
    height: 50px;
    width: 50px;
    left: 1px;
}

.right-arrow {
    content: url("./rightarrow.svg");
    height: 50px;
    width: 50px;
    right: 1px;
}

.left-arrow,
.right-arrow {
    top: 210px;
    cursor: pointer;
    position: absolute;
}

.indicator {
    position: absolute;
    color: white;
    top: 450px;
}

button {
   border-radius: 100%;
   width: 10px;
   height: 10px;
   border: none;
   cursor: pointer;
}

.visibility {
    display: none;
}

.btn-background {
    background-color: black;
}